/*  TIPS CSS  */
/*  a[href^="https://"]  Deze selector pakt het begin   */
/*  a[href$=".pdf"]  Deze selector pakt het einde van een attribute     */
/*  a[href*="homepage"]  dingen die erin voorkomen  */
/*  first-of-type pakt het eerste element in een bepaald rijtje     */
/*  nth-of-type(2n + 1) begin bij de eerste selector doe om de twee bepaalde styling  */


/*   BEGIN ALGEMEEN   */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
    padding: 0;
}

body,
html {
    margin: 0;
    font-size: 1em;
}

body {
    padding: 0 1em;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f8;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1, h2, h3, h4, legend, b {
    font-weight: 700;
}

h1 {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 0.375em;
}

h2 {
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1.0313em;
}

h3 {
    font-size: 1.3em;
}

input {
    display: block;
    z-index: 2;
    position: relative;
    background-color: transparent;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    transition: all 0.3s ease;
    color: #000;
    font-size: 1em;
    font-weight: 500;
}

input, button, p {
    font-size: 1em;
}

button:focus, button:active, button:visited {
    outline: none;
}

input:focus { 
    outline: none !important;
    border-color: rgba(0, 0, 0, 0);
}

textarea:focus { 
    outline: none !important;
    border-color: rgba(0, 0, 0, 0);
}

section form div button:nth-of-type(2) {
    background-color: #d6cfc7;
}

button {
    background-color: #e7772b;
    padding: 0.63em 1em;
    border-radius: 0.5em;
    color: white;
    border: none;
    display: inline;
    font-size: 1em;
}

/*   EINDE ALGEMEEN   */



/*   BEGIN HEADER HOME   */

header {
    width: 100%;
    height: 2.5em;
    top: 0;
    margin-left: -15px;
    padding: 0 1em;
    position: fixed;   
    display: inline-flex;
    justify-content: flex-end;
    background-color: white;
    box-sizing: border-box;
    z-index: 3;
}

header a:first-of-type {
    margin: 0 auto;
}

header a:nth-of-type(2) {
    margin-right: 1em;
}

header img {
    height: 100%;
    padding: 0.375em 0;
    box-sizing: border-box;
}

/*   EINDE HEADER   */



/*   BEGIN FORMULIER   */

section form:nth-child(3) p, body div section form:nth-child(3) input {
    display: inline-flex;
    justify-content: space-between;
}

section form:nth-child(3) input {
    border: 2px solid black;
    border-radius: 3px;
}

legend {
    padding: 20px 0 0 0;
}

div section form:nth-of-type(2) {
    margin-top: 1em;
}

/*  Alles wat hieronder uitgecomment is moet weer actief zijn als er op de button filteren geklikt wordt  */

div section form:nth-of-type(2) div {
    display: inline-flex;
    flex-wrap: wrap;
/*    width: 100%;*/
    width: calc(100% + 2em);
    margin-left: -1em;
    padding: 1em;
    left: 0;
    border-radius: 0 0 0.625em 0;
/*    padding: 1.8em;*/
    box-sizing: border-box;
    background-color: #f7f4f1;
/*    position: fixed;*/
    bottom: 0;
}

div section form:nth-of-type(2) div p {
    font-weight: bold;
    font-size: 1em;
    margin-top: 0.2em;
}

div section form:nth-of-type(2) div label:first-of-type {
    margin-left: 1em;
}

div section form:nth-of-type(2) div label:first-of-type, div section form:nth-of-type(2) div label:nth-of-type(2) {
    padding-right: 1em;
}

div section form:nth-of-type(2) div label {
    border-bottom: 0.1em solid #685c53;
}

div section form:nth-of-type(2) div label input[type="radio"]:checked + span {
    color: #e7772b;
    position: relative;
}

div section form:nth-of-type(2) div label input[type="radio"]:checked + span::after {
    content: "";
    width: 100%;
    height: 0.2em;
    background-color: #e7772b;
    display: block;
    position: absolute;
    bottom: -0.3em;
}

div section form:nth-of-type(2) div span {
    font-weight: lighter;
    color: #685c53;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
}

input[name*="sorteren"] {
    margin-left: -1000em;
    height: 0;
}

div section form:nth-of-type(2) div button[value="volgorde"] {
    margin-left: auto;
    width: 1em;
    margin-top: 0;
    padding-bottom: 0.3em;
    border-bottom: 0.15em solid #685c53;
    background-color: transparent;
    display: block;
    color: black;
    padding: 0;
    border-radius: 0;
}

div section form:nth-of-type(2) div button[value="volgorde"] img {
    width: 100%;
}

div section form:nth-of-type(2) div button[value="filteren"] {
    display: none;
/*    display:  ;*/
    margin: 2em auto 0 auto;
    background-color: #d6cec5;
}

/*   EINDE FORMULIER HOME   */




/*   Main content en verhalen / articles   */

body main {
    margin: 2.500em 0 1.5em 0;
}

/*   EINDE MAIN CONTENT   */

/*   Onderkant pagina en Footer   */

aside:before {
    content: "";
    display: inherit;
    width: calc(100% + 2em);
    margin-left: -1em;
    height: 1.25em;
    background-color: #f9f9f8;
    z-index: 1;
    
}

aside {
    background-color: #f0f0f0;
    width: calc(100% + 2em);
    margin-left: -1em;
    padding: 0 1em 2.5em 1em;
    box-sizing: border-box;
    margin-top: 4.375em;
}

aside section {
    background-color: #ffffff;
    padding: 0.5em 1.25em 1.5em;
    box-sizing: border-box;
    border-radius: 0.63em;
    margin-top: -1em;
    z-index: 2;
    -webkit-box-shadow: 0 0.5em 1.13em 0 rgba(103,92,83,.3);
    -moz-box-shadow: 0 0.5em 1.13em 0 rgba(103,92,83,.3);
    box-shadow: 0 0.5em 1.13em 0 rgba(103,92,83,.3);
}

aside h3 {
    margin-bottom: 1em;
    margin-top: 1.56em;
    font-size: 1.2em;
}

aside p:first-of-type::before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    background-image: url(../img/icons/contact-telefoon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inherit;
    margin-left: -10%;
    margin-right: calc(10% - 1.4em);
}

aside p:first-of-type {
    padding-bottom: 0.35em;
}

aside p:nth-of-type(2) {
    color: #675c53;
    line-height: 1.3em;
    font-weight: 400;
}

aside p {
    display: inline-block;
    width: 90%;
    padding-left: 10%;
}

aside img {
    display: inline-block;
}

body > footer {
    background-color: #ffffff;
    width: calc(100% + 2em);
    margin-left: -1em;
    padding: 0 1em 2.2em;
    box-sizing: border-box;
}

body > footer section div {
    display: flex;
    padding: 2.5em 0 1.25em;
}

body > footer section div img:nth-of-type(2), body > footer section div img:nth-of-type(3),  {
    width: 30px;
    height: 30px;
}

body > footer section div img:nth-of-type(2) {
    margin-left: auto;
    margin-right: 0.63em;
}

body > footer section a {
    color: #afa9a2;
    text-decoration: none;
    width: 100%;
    display: block;
    line-height: 2em;
}