/*  TIPS CSS  */
/*  a[href^="https://"]  Deze selector pakt het begin   */
/*  a[href$=".pdf"]  Deze selector pakt het einde van een attribute     */
/*  a[href*="homepage"]  dingen die erin voorkomen  */
/*  first-of-type pakt het eerste element in een bepaald rijtje     */
/*  nth-of-type(2n + 1) begin bij de eerste selector doe om de twee bepaalde styling  */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
    padding: 0;
}

body,
html {
    margin: 0;
}

body {
    padding: 0 1em;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.375em;
}

h2 {
    font-size: 1.250em;
    padding-top: 1em;
    padding-bottom: 1.0313em;
}

input {
    display: block;
    z-index: 2;
    position: relative;
    background-color: transparent;
}

label {
    transition: all 0.3s ease;
    color: #999999;
    font-size: 1em;
}

input, button, p {
    font-size: 0.875em;
}

button:focus, button:active, button:visited {
    outline: none;
}

input:focus { 
    outline: none !important;
    border-color: rgba(0, 0, 0, 0);
}

textarea:focus { 
    outline: none !important;
    border-color: rgba(0, 0, 0, 0);
}

button:nth-child(2) {
    background-color: #d6cfc7;
    float: right;
    position: relative;
}

button {
    background-color: #e7772b;
    padding: 0.563em 0.938em;
    border-radius: 0.5em;
    color: white;
    border: none;
    display: inline;
}




header {
    width: 100%;
    height: 2.500em;
}

header img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.375em 0;
    box-sizing: border-box;
}

body > div:nth-child(2) {
    background: url('../img/U-OV-busstation-bussen.jpg') no-repeat center;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 1.875em 1em;
    margin-left: -1em;
    margin-bottom: 1.5em;
}

body div section {
    padding: 1.875em 0.938em 0 0.938em;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 1.333em 3em 0 rgba(103,92,83,.3);
    box-shadow: 0 1.333em 3em 0 rgba(103,92,83,.3);
}

body div section form:nth-child(2) label input {
    border-bottom: 2px solid #999999;
}

body div section form:nth-child(2) label input:focus {
    border-color: #e7772b;
}

body div section form:nth-child(2) input {
    border: none;
    color: black;
    width: 100%;
    padding: 0.5em 0;
}

body div section form:nth-child(2) div {
    background-color: #f7f5f1;
    padding: 0.938em;
    margin-top: 1.250em;
    width: 100%;
    margin-left: -0.9375em;
    border-radius: 0 0 0.667em 0.667em;
}

body div section div button:first-child:after {
    content: "+";
    margin-left: 0.4em;
}






/* Dit is het formulier voor de filteropties. Deze staat nu uit voor styling */
/*body div section form:nth-child(3) {
   display: none;
}*/

body div section form:nth-child(3) label {
    display: block;
    padding: 0.47em 0;
}

body div section form:nth-child(3) label p {
    width: 80%;
}

body div section form:nth-child(3) p, body div section form:nth-child(3) input {
    display: inline-block;
}

body div section form:nth-child(3) input {
    border: 2px solid black;
    border-radius: 3px;
    display: inline;
}

body div section form:nth-child(3) input:after {
    content: "(10)";
    display: table;
    margin-left: 2em;
    font-size: 0.7em;
    vertical-align: middle;
}

body div section form:nth-child(3) input:checked + body div section form:nth-child(3) label {
    background-color: black;
}






body main {
    margin: 0 0 1.5em 0;
}

article {
    border-radius: 0.667em;
    -webkit-box-shadow: 0 1.333em 3em 0 rgba(103,92,83,.3);
    box-shadow: 0 1.333em 3em 0 rgba(103,92,83,.3);
}

article img {
    border-radius: 0.667em 0.667em 0 0;
    height: 7.313em;
    object-fit: cover;
    width: 100%;
}

article span {
    width: 50%;
}

article h3, article footer {
    padding: 0 1em;
    box-sizing: border-box;
}

article p {
    padding: 1.250em;
}